/* 3.0- Header Css Style */
.header{
    position: fixed;
    width: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.3);
}

.header .logo{
    width: 40%;
    float: left;
}

.header .nav{
    width: 60%;
    float: left;
    list-style: none;
    text-align: right;
}

.header .nav > li{
    display: inline-block;
}

.header .nav > li > a{
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    display: block;
    padding: 30px 15px;
}

.header .nav > li > a.active:after,
.header .nav > li > a:after{
    content: "";
    display: block;
    height: 3px;
    background-color: #6195ff;
    margin-top: 2px;
    transition: width 0.3s;
}

.header .nav > li > a.active:after{
    width: 100%;
}

.header .nav > li > a:after{
    width: 0;
}

.header .nav > li > a:hover:after{
    width: 100%;
}

.dropdown{
    position: relative;
}

.dropdown-menu{
    position: absolute;
    background: #6195ff;
    width: 100px;
    text-align: center;
    left: -20%;
    top: 70%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s
}

.dropdown-menu a{
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.dropdown:hover .dropdown-menu{
    opacity: 1;
    visibility: visible;
}